<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NOT FOUND</title>
    <link rel="stylesheet" href="/static/css/style.css" />
    <script src="/static/js/application.js" defer></script>
    <style>
      body, .centered { display: flex; justify-content: center; align-items:
      center; } .centered { flex-direction: column; } body { background-color:
      #d30e42; } .centered, .centered * { color: azure; }
    </style>
  </head>
  <body>
    <div class="centered">
      <h1>404</h1>
      <p>Not found page</p>
    </div>
  </body>
</html>